<ul class="profile-menu-module nav nav-pills nav-stacked" style="max-width: 300px;">
	<li class="{{parent.m.account}}"><a href="#!profile/account">Account</a></li>
	<li class="{{parent.m.orders}}"><a href="#!profile/orders">Orders</a></li>
</ul>