<ul class="menu-module nav nav-pills nav-stacked" style="max-width: 300px;">
	<li class="{{parent.m.accauntInfo}}"><a href="#!myAccaunt/accauntInfo">My Accaunt Info</a></li>
	<li class="{{parent.m.buyHistory}}"><a href="#!myAccaunt/buyHistory">My Buy History</a></li>
</ul>