<div class="orders-module">
	<b>Orders:</b><br/>

	<b>Order 1 (11.11.13)</b>
	<table class="table">
		<thead>
			<tr><th>id</th><th>Name</th><th>price</th><th>quantity</th></tr>
		</thead>
		<tbody>
			
				<tr><td>12</td><td>iphone</td><td>220</td><td>1</td></tr>
			
				<tr><td>11</td><td>samsung</td><td>210</td><td>1</td></tr>
			
		</tbody>
	</table>

	<b>Order 2 (12.11.13)</b>
	<table class="table">
		<thead>
			<tr><th>id</th><th>Name</th><th>price</th><th>quantity</th></tr>
		</thead>
		<tbody>
			
				<tr><td>12</td><td>iphone</td><td>220</td><td>1</td></tr>
			
				<tr><td>11</td><td>samsung</td><td>210</td><td>1</td></tr>
			
		</tbody>
	</table>
</div>